{% extends 'base.html' %}
{% block wrapper %}
    <!--page-wrapper-->
    <div class="page-wrapper">
        <!--page-content-wrapper-->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15">
                            <div class="card-header border-bottom-0">
                                <div class="d-lg-flex align-items-center">
                                    <div>
                                        <h5 class="mb-lg-0">TOP10 songs</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="chart4" style="height: 400px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15">
                            <div class="card-body">
                                <div class="d-lg-flex align-items-center">
                                    <div>
                                        <h5 class="mb-4">The proportion of various types of songs</h5>
                                    </div>
                                </div>
                                <div id="chart5" style="height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15">
                            <div class="card-header border-bottom-0">
                                <div class="d-lg-flex align-items-center">
                                    <div>
                                        <h5 class="mb-lg-0">All kinds of songs played the most</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="chart7" style="height: 400px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15">
                            <div class="card-body">
                                <div class="d-lg-flex align-items-center">
                                    <div>
                                        <h5 class="mb-4">The number of different types of songs</h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="chart8" style="height: 350px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15">
                            <div class="card-header border-bottom-0">
                                <div class="d-lg-flex align-items-center">
                                    <div>
                                        <h5 class="mb-lg-0">Number of comments by type line graph</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="chart1" style="height: 400px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card radius-15">
                            <div class="card-body">
                                <div class="d-lg-flex align-items-center">
                                    <div>
                                        <h5 class="mb-4">The number of comments of each type is a circular ratio</h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="chart2" style="height: 350px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!--end page-wrapper-->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!--plugins-->
    <script src="../static/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="../static/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="../static/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="../static/assets/js/app.js"></script>

    <script>
        $.ajax({
            url: "admin/gettop",
            type: "GET",
            success: function (e) {
                var data = JSON.parse(e)
                var myChart = echarts.init(document.getElementById('chart4'));
                var option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data.songname,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }

                        },
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }
                        }

                    ],
                    series: [
                        {
                            name: 'Play Times',
                            type: 'bar',
                            barWidth: '60%',
                            data: data.songnum
                        }
                    ]
                };
                myChart.setOption(option);
            }
        })
        $.ajax({
            url: "admin/getlx",
            type: "GET",
            success: function (e) {
                var data = JSON.parse(e)
                var myChart = echarts.init(document.getElementById('chart5'));
                var option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left'
                    },
                    series: [
                        {
                            name: 'Songs Percentage',
                            type: 'pie',
                            radius: '50%',
                            data: data,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                myChart.setOption(option);
            }
        })
        $.ajax({
            url: "admin/getlxtop",
            type: "GET",
            success: function (e) {
                var data = JSON.parse(e)
                var myChart = echarts.init(document.getElementById('chart7'));
                var option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data.name,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }

                        },
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }
                        }

                    ],
                    series: [
                        {
                            name: 'Play Times',
                            type: 'bar',
                            barWidth: '60%',
                            data: data.value
                        }
                    ]
                };
                myChart.setOption(option);
            }
        })
        $.ajax({
            url: "getallsongdata",
            type: "get",
            success(e) {
                var data = JSON.parse(e)
                var myChart = echarts.init(document.getElementById('chart8'));
                var option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data.lxlist,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }

                        },
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }
                        }

                    ],
                    series: [
                        {
                            name: 'Play Times',
                            type: 'line',
                            barWidth: '60%',
                            data: data.lxdata
                        }
                    ]
                };
                myChart.setOption(option);


                var myChart1 = echarts.init(document.getElementById('chart1'));
                var option1 = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data.lxlist,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }

                        },
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: '#fff',
                                    width: 1,//这里是为了突出显示加上的
                                }
                            }
                        }

                    ],
                    series: [
                        {
                            name: 'Play Times',
                            type: 'line',
                            barWidth: '60%',
                            data: data.pldata
                        }
                    ]
                };
                myChart1.setOption(option1);

                var myChart2 = echarts.init(document.getElementById('chart2'));
                var option2 = {
                    tooltip: {
                        top:'3%',
                        trigger: 'item',
                        textStyle: {
                            color: '#fff'
                        },
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        top: '5%',
                        left: 'center',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    series: [
                        {
                            name: 'Access From',
                            type: 'pie',
                            radius: ['40%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '40',
                                    fontWeight: 'bold'
                                }
                            },
                            labelLine: {
                                show: false
                            },
                            data: data.plnamedata
                        }
                    ]
                };
                myChart2.setOption(option2);
            }
        })
    </script>
    <script>
        $('#exampleVaryingModalContent').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        });
    </script>
{% endblock %}