{% extends 'base.html' %}
{% block wrapper %}
    <!--page-wrapper-->
    <div class="page-wrapper" style="margin-right: 180px;margin-top: 20px">
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                    <div class="breadcrumb-title pr-3">Songs</div>
                </div>
                <div class="row">
                    {% for i in  allsong %}
                        <div class="col-lg-4">
                            <div class="card radius-15">
                                <div class="card-body">
                                    <div class="media align-items-center">
                                        <img src="{{ i.songimg }}" width="80" height="80"
                                             class="rounded-circle p-1 border bg-white" alt="">
                                        <div class="media-body ml-3">
                                            <h5 class="mb-0 text-white">{{ i.songname }}</h5>
                                            <p class="mb-0 text-white">{{ i.songauther }}</p>
                                            <p class="mb-0 text-white">Comments:{{ i.songpl }}
                                            <p>Time:{{ i.songtime }}</p></p>
                                            <div class="list-inline contacts-social mt-3">
                                                <a href="javascript:;" class="list-inline-item" title="Collect"
                                                   onclick="sc({{ i.songid }})"> <i
                                                        class='lni lni-circle-plus'></i></a>
                                                <a href="javascript:;" class="list-inline-item" title="Play"
                                                   onclick="play({{ i.songid }})"><i
                                                        class='fadeIn animated bx bx-caret-right-circle'></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--end page-wrapper-->
    <script src="../static/assets/js/jquery.min.js"></script>

    <script>
        function sc(id) {
            var data = {
                'songid': id,
                'userid': localStorage.getItem('userid')
            }
            $.ajax({
                url: 'usersc',
                type: "POST",
                data: {'data': JSON.stringify(data)},
                success: function (e) {
                    var data = JSON.parse(e)
                    alert(data.info)
                }
            })
        }
        function play(id) {
            var data = {
                'songid': id,
                'userid': localStorage.getItem('userid')
            }
            $.ajax({
                url: 'userplay',
                type: "POST",
                data: {'data': JSON.stringify(data)},
                success: function (e) {
                    var data = JSON.parse(e)
                    if (data.info == 'ok') {
                        window.open('https://music.163.com/#/song?id=' + id)
                    }
                }
            })
        }
    </script>
{% endblock %}
